<html>

<body>

        <head>
                <link rel="stylesheet" href="styles.css">

                <style>
                        a {
                            font-size:25px;
                            font-weight:bold;
                        }
                </style>

        </head>

        <a href="/">Home</a> 
        <a href="/addtask">Add new Task</a> 
        <a href="/deletetask">Delete Task</a> 
        <a href="/deletecompletedtasks">Delete Completed Tasks</a> 
        <a href="/updatetask">Update Task Status</a>
        <a href="/alldevelopers">List Developers</a> 
        <a href="/listtasks">List Tasks</a> 

  <form action="addnewdeveloper" method="POST">
    First Name <input type="text" name="fName" /> <br />
    Last Name <input type="text" name="lName" /> <br />
    Level <input type="text" name="level" /> <br />
    State <input type="text" name="state" /><br />
    Suburb <input type="text" name="suburb" /><br />
    Street <input type="text" name="street" /><br />
    Unit <input type="text" name="unit" /><br />

    <button>Submit</button>
  
  </form>

</body>

</html>