<html>

<body>

        <head>
                <link rel="stylesheet" href="styles.css">

                <style>
                        a {
                            font-size:25px;
                            font-weight:bold;
                        }
                </style>

        </head>

        <a href="/">Home</a> 
        <a href="/adddeveloper">Add new Developer</a> 
        <a href="/addtask">Add new Task</a> 
        <a href="/deletetask">Delete Task</a> 
        <a href="/updatetask">Update Task Status</a>
        <a href="/alldevelopers">List Developers</a> 

        <h1> All completed tasks have been deleted. View all remaining tasks:</h1>
        <a href="/listtasks">List Tasks</a> 

  <!-- <form action="deletecompletedtasks" method="POST">
    Task Name <input type="text" name="taskName" /> <br />
    Task Due (dd/mm/yyyy) <input type="text" name="taskDueDate" /> <br />
    Task Desc <input type="text" name="taskDesc" /><br /><br />
    <button>Submit</button>
  
  </form> -->

</body>