
<html>

<head>
    <link rel="stylesheet" href="styles.css">

            
    <style>
                a {
                    font-size:25px;
                    font-weight:bold;
                }
    </style>

</head>

<body>

    <img src="logo.jpg">

    <h1> Welcome to the todo list app</h1>

    <!-- <a href="/newtask">Add new Task</a> 
    <a href="/listtasks">List All Tasks</a> -->
    <!-- <a href="/">Home</a>  -->

    <a href="/adddeveloper">Add new Developer</a> 
    <a href="/addtask">Add new Task</a> <br /><br />
    <a href="/deletetask">Delete Task</a> <br /><br />
    <a href="/deletecompletedtasks">Delete Completed Tasks</a> <br /><br />
    <a href="/updatetask">Update Task Status</a> <br /><br />
    <a href="/alldevelopers">List Developers</a> 
    <a href="/listtasks">List Tasks</a> <br /><br />

</body>

</html>